.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .header{
        background-image: url("../images/developer.png"), url("../images/header_bg.png");
        background-repeat: no-repeat;
        width: 100%;
        background-position: top left, bottom right;
        
  }
  /* shared style */
  .bg{
    background-color:  #FFF8F3;

  }
  .text-primary{
    color: #FD6E0A;
  }
  .dark-2{
    color: #474747;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

  }
  .btn-secondary{
    background-color:white;
    font-weight: bold;
    font-size: 16px;
    color:  #FD6E0A;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
    cursor: pointer;
  }
  .text-center{
    text-align: center;
  }

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 200px;
}
.banner-greeting{
    font-weight: 500;
    font-size: 35px;
    margin-top: 10px;

}
.banner-title{
    font-weight: bold;
    font-size: 70px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 60px;
}
.banner-profile-picture{
    width: 500px;
}
.banner-content{
    max-width: 570px;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description{
    font-size: 15px;
    color: #757575;
}
/* main style */
main{
    max-width: 900px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
}
/* about part */
.about{
    border-radius: 10px;
    padding: 110px 130px;
    text-align: center;
   
}
.item-description{
    font-weight: 700;
    font-size: 18px;
    padding: 3px;
    
}
.item{
    font-size: 18px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skill section  */
.skills-container{
    display: flex;
    gap: 20px;

}
.skill{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.07);
    border-radius: 5px;
  
}
skill-description{
   text-align: center;
}
/* resume section style */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 18px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.experience-title{
    color: #474747;
    font-size: 20px;
}
.resume hr{
    margin: 20px 6px;
}
.resume-download-cv{
    margin-top: 40px;
}
/* footer style */
footer{
    padding: 130px 200px;
    display: flex;
    gap: 100px;
    margin-top: 100px;

}
.footer-column{
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
   height: 40px;
   border-radius: 5px;
   background-color: white;
   display: block;
   width: 100%;
   padding: 10px 20px;
   margin-bottom: 20px;
   border: none;

}